

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;  
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


BODY

/*---------------- */
/* Utility Classes */
/* --------------- */

.container {
   max-width: 80rem;
   padding-inline: 2em;
   margin-inline: auto;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap; /* added line */
   border: 0;
}


/* ---- color ---- */

/*---------------- */
/* NAVIGATION */
/* --------------- */

/*---------------- */
/* SECTION */
/* --------------- */
.header{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/del-2.jpg);
}
nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 250px;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}
nav ul li a{
    text-decoration: none;    
    color: #fff;
    text-transform: uppercase;
}
nav ul li::after{
    content: '';    
    height: 3px;
    background: #4CAF50;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}
.content h1{
   font-size: 70px;
   margin-top: 80px;
}
.content p{
   margin: 20px auto;
   font-weight: 100;
   line-height: 25px;
}
button {
    width: 200px;
    border: none;
    color: white;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #4CAF50;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #4CAF50; 
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;    
    color: #4CAF50;
    font-size: 20px;    
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#4CAF50, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px ;
}
.title-text h1{
    margin: auto;    
    font-size: 50px;    
    font-weight: bold;
}
.service-box{
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.service-title{
    flex-basis: 50%;
}
.service-img{
  flex-basis: 50%;
  margin: auto;
}
.service-img img{
  width: 70%;
  margin: auto;
}
.service-title h1{
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: #4CAF50;
}
.service-desc{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.service-icon .fa{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}
.service-text p{
  padding: 0 20px;
  text-align: initial;
  margin: 0;
}
.footer{
    width: 100%;
    display: flex;
}
/*---------------- */
/* FOOTER */
/* --------------- */
@media screen and (max-width: 770px) {
    .title-text h1{  
    font-size: 35px;    
    }
    .service-title{
      flex-basis: 100%;
    }
    .service-img{
      flex-basis: 100%;
      margin: auto;
    }
    .service-img img{
      width: 100%;
    }
}

/*--- delivery ---*/
#delivery{
     width: 100%;
     padding: 70px 0;
     background: #efefef;
}
.service-box{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
}
.single-service{
      flex-basis: 48%;
      text-align: center;
      border-radius: 7px;
      margin-bottom: 20px;
      color: #fff;
      position: relative;
}
.single-service img{
      width: 100%;
      border-radius: 7px;
}
.overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 7px;
      cursor: pointer;
      background: linear-gradient(rgba(0,0,0,0.5),#4CAF50);
      opacity: 0;
      transition: 1s;
}
.single-service:hover .overlay{
      opacity: 1;
}
.delivery-desc{
      width: 80%;
      position: absolute;
      bottom: 40%;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);     
      transition: 1s;
}
hr{
      background: #fff;
      height: 2px;
      border: 0;
      margin: 15px auto;
      width: 60%;
}
.delivery-desc p{
     font-size: 14px;

}
.single-service:hover .delivery-desc{
     bottom: 40%;
     opacity: 1;
}
@media screen and (max-width: 770px) {
      .single-service{
      flex-basis: 100%;
      margin-bottom: 30px;
      }
      .delivery-desc p{
        font-size: 12px;
    }
    hr{
      margin: 5px auto;
    }
    .single-service:hover .delivery-desc{
      bottom: 25% !important;
    }
}

/*--- testimonial ----*/
#testimonial{
      width: 100%;
      padding: 70px 0;
}
.testimonial-row{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 80%;
      margin: auto;

}
.testimonial-col{
      flex-basis: 28%;
      margin-bottom: 30px;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 10px 20px 3px #4CAF50;
      cursor: pointer;
      transition: transform .5s;
}
.testimonial-col p{
      font-size: 14px;
}
.user{
      display: flex;
      align-items: center;
      margin: 20px 0;
}
.user img{
      width: 40px;
      margin-right: 20px;
      border-radius: 3px;
}
.user-info .fa-brands {
      margin-left: 10px;
      color: #070f13;
      font-size: 20px;
}
.user-info small{
      color: #4CAF50;
    }
.testimonial-col:hover{
     transform: translateY(7px);
}
@media screen and (max-width: 770px) {
    .testimonial-col{
      flex-basis: 100%;
  }
}
#footer{
      padding: 100px 0 20px;
      background: #efefef;
      position: relative;
}
.footer-row{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}
.footer-left,.footer-right{
      flex-basis: 45%;
      padding: 10px;
      margin-bottom: 20px;
}
.footer-right{
      text-align: right;
}
.footer-row h1{
      margin: 10px 0;
}
.footer-row p{
      line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
      font-size: 20px;
      color: #4CAF50;
      margin: 10px;
}
.footer-img{
      max-width: 370px;
      opacity: 0.1;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%,-50%);
}
.social-links{
      text-align: center;
}
.social-links .fa-brands{
      height: 40px;
      width: 40px;
      font-size: 20px;
      line-height: 40px;
      border: 1px solid #4CAF50;
      margin: 40px 5px 0;
      color: #4CAF50;
      cursor: pointer;
      transition: .5s;
}
.social-links .fa-brands:hover{
      color: #fff;
      background: #4CAF50;
      transform: translateY(-7px);
      cursor: pointer;

}
.social-links p{
      font-size: 12px;
      margin-top: 20px;

}
@media screen and (max-width: 770px) {
    .footer-left,.footer-right{
      flex-basis: 100%;
      font-size: 14px;
  }
    .footer-img{
      top: 25%;
   }
}